<header class="main-header">
    <div class="container header-container">
        <div class="logo-title-container">
            <div class="logo">
                <a href="index.html">
                    <img src="assets/img/img/balanza-icon.png" alt="Balanza de la Justicia" class="logo-img">
                    <img src="assets/img/img/diosa-icon.png" alt="Martillo de la Justicia" class="logo-img">
                </a>
            </div>
            <div class="company-title">
                <h1>SERVICIOS LEGALES Y JURÍDICOS</h1>
                <h2>RIVERA & ASOC</h2>
            </div>
        </div>
        
        <div class="header-contact">
            <div class="contact-item">
                <i class="fas fa-phone"></i>
                <div class="contact-info">
                    <span>Llámanos</span>
                    <a href="tel:+123456789">+1 (234) 567-89</a>
                </div>
            </div>
            
            <div class="contact-item">
                <i class="fas fa-envelope"></i>
                <div class="contact-info">
                    <span>Escríbenos</span>
                    <a href="mailto:info@bufete.com">info@bufete.com</a>
                </div>
            </div>
        </div>
    </div>
</header> 