<nav>
    <div class="logo-container">
        <div class="icon-left">
            <img src="assets/img/balanza-icon.png" alt="Balanza de la Justicia" class="justice-icon">
        </div>
        <div class="logo">
            RIVERA & ASOC<br>
            SERVICIOS LEGALES
        </div>
        <div class="icon-right">
            <img src="assets/img/diosa-icon.png" alt="Martillo de la Justicia" class="justice-icon">
        </div>
    </div>
    
    <ul class="menu">
        <li><a href="index.html" class="active">Inicio</a></li>
        <li><a href="pages/about.html">Sobre Nosotros</a></li>
        <li><a href="pages/services.html">Servicios</a></li>
        <li><a href="pages/team.html">Equipo</a></li>
        <li><a href="pages/blog.html">Blog</a></li>
        <li><a href="pages/contact.html">Contacto</a></li>
    </ul>
</nav> 